* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  font-family: "SimKyungha";
}

@font-face {
  font-family: "SimKyungha";
  src: url(/src/assets/fonts/SimKyungha.ttf);
}

.progress {
  margin-top: 20px;
}

.btngroup {
  padding: 20px;
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
